### Imports

In [14]:
import pandas as pd
import numpy as np
from lxml import etree

### Flow

* Unzip etc using magics out to command line
* Read CSV as ASCII, show encoding errors
* Read as UTF8, show has dealt with them correctly
* Normalise names?
* Normalise eg postcode/split postcodes?
* Do some aggregations and grouping?
* Masks - ensure use different criteria to show usefulness of reusability
* Could we do something with PDF here? HTML pages might also be useful (download, unzip, process HTML)

### Preprocess and load reference data

In [15]:
#!unzip '/var/data/s2ds/companies/*.zip' -d /var/data/s2ds/companies/

In [16]:
def read_files(files):
    dfs = []

    for f in files:
        df = pd.read_csv(f)
        dfs.append(df[['CompanyName', ' CompanyNumber', 'RegAddress.PostCode']])

    return pd.concat(dfs)

In [17]:
def read_files_utf8(files):
    dfs = []

    for f in files:
        df = pd.read_csv(f, encoding='utf8')
        dfs.append(df[['CompanyName', ' CompanyNumber', 'RegAddress.PostCode']])

    return pd.concat(dfs)

In [18]:
files = !ls /var/data/s2ds/companies/*3_5.csv

In [26]:
df = read_files(files)

In [28]:
df[df[' CompanyNumber'] == '02334804']

                     CompanyName  CompanyNumber RegAddress.PostCode
603065  NESTLÉ WATERS UK LIMITED       02334804             RH6 0PA

In [20]:
df.shape

(850000, 3)

In [21]:
df.head()

                           CompanyName  CompanyNumber RegAddress.PostCode
0            J.C. ROOFING SERVICES LTD       09176364            WD25 8BT
1             J.C. ROOK & SONS LIMITED       02117042            CT11 7DZ
2      J.C. ROXBURGH & COMPANY LIMITED       SC041244             G81 1LQ
3  J.C. ROXBURGH (INVESTMENTS) LIMITED       SC037420             G83 9LX
4     J.C. ROXBURGH PROPERTIES LIMITED       SC073801             G81 1LQ

In [22]:
df.rename(columns={' CompanyNumber': 'CompanyNumber'}, inplace=True)

In [23]:
df[df['CompanyNumber'] == '02334804']

                     CompanyName CompanyNumber RegAddress.PostCode
603065  NESTLÉ WATERS UK LIMITED      02334804             RH6 0PA

In [24]:
df = read_files_utf8(files)

In [25]:
df[df[' CompanyNumber'] == '02334804']

                     CompanyName  CompanyNumber RegAddress.PostCode
603065  NESTLÉ WATERS UK LIMITED       02334804             RH6 0PA

### Preprocess and load UK IPO Office data

In [56]:
tree = etree.parse('/var/data/s2ds/trademarks/jnl.xml')